{{!-- template-lint-disable block-indentation --}}
<div
  id="{{this.id}}"
  class="paste-form"
  {{did-resize this.handleResize}}
  {{did-update this.handleUpdate @paste}}
>
  <div
    id="{{this.id}}-lns"
    class="line-numbers no-select"
    {{did-insert this.renderLineNumbers}}
    {{did-update this.renderLineNumbers @paste.content}}
    {{did-update this.renderLineNumbers this.content}}
  ></div>

  {{#if this.isCreate}}
    {{!-- template-lint-disable no-autofocus-attribute --}}
    {{!-- template-lint-disable no-down-event-binding --}}
    <textarea
      autofocus={{true}}
      id="{{this.id}}-content"
      class="paste-input {{@inputClass}}"
      spellcheck={{false}}
      value={{@paste.content}}
      {{on "input" this.handleInput}}
      {{on "keydown" this.handleKeyDown}}
      {{on "paste" this.handlePaste}}
    ></textarea>
  {{else}}
    <code
      id="{{this.id}}-content"
      class="paste-display {{@inputClass}}"
      {{did-insert this.highlightCode}}
    >{{this.content}}</code>
  {{/if}}
</div>
