<div
  class="toast-wrapper toast-wrapper__{{@type}} {{this.classes}} {{if (eq this.isRaised true) "focused"}}"
  {{on-focus (fn (mut this.isRaised))}}
>
  <div class="toast-wrapper__inner">
    <div class="toast-icon">
      <i class="fas fa-{{@icon}}" />
    </div>
    <div class="toast-message">
      {{@message}}
    </div>
  </div>
  <button
    class="toast-close"
    type="button"
    {{on "click" this.onClose}}
  >
    <i class="fas fa-times" />
    <EmberTooltip
      @side="bottom"
      @text="Dismiss"
    />
  </button>
</div>
