<div
  class="action-box {{if (eq this.isRaised true) "focused"}}"
  {{on-focus (fn (mut this.isRaised))}}
>
  <LinkTo @route="home" class="action-box__logo">
    <span><i>min</i>Bin</span>
  </LinkTo>
  <div class="action-box__actions">
    {{#if (and true (eq @mode "create"))}}
      <div class="action-box__options">
        <Actions::Switch
          @value={{@options.encrypted}}
          @setValue={{@fns.setEncrypted}}
          @label="Encrypt paste"
          @icon="lock"
        />
        <Actions::Switch
          @value={{@options.burn}}
          @setValue={{@fns.setBurn}}
          @label="Burn after viewing"
          @icon="fire"
        />
      </div>
    {{/if}}

    {{#if (eq @mode "show")}}
      <Actions::Button
        @fn={{@fns.duplicate}}
        @icon="code"
        @label="Duplicate paste"
        @tooltip={{hash
          side="bottom"
        }}
      />
      <Actions::Button
        @fn={{@fns.copy}}
        @icon="copy"
        @label="Copy paste"
        @tooltip={{hash
          side="bottom"
        }}
      />
    {{/if}}

    {{#if (eq @mode "create")}}
      <Actions::Button
        @fn={{@fns.save}}
        @icon="save"
        @label="Save paste"
        @tooltip={{hash
          side="bottom"
        }}
      />
    {{/if}}

    <Actions::Button
      @fn={{@fns.create}}
      @icon="plus"
      @label="Create new"
      @tooltip={{hash
        side="bottom"
      }}
    />
  </div>
</div>
