<label class="action-switch {{if (eq @value true) "checked" ""}}">
  <input
    class="action-switch__input"
    type="checkbox"
    checked={{@value}}
    {{on "change" this.handleChange}}
  />
  <span
    class="action-switch__slider"
  >
    <i class="fas fa-{{@icon}}" />
  </span>
  <EmberTooltip
    @text={{@label}}
    @side={{or @tooltip.side "left"}}
    class="tooltip {{or @tooltip.class "action-switch__tooltip"}}"
  />
</label>
