<div class="content-inner">
  <label
    for="{{this.id}}-input"
    class="content-inner__label"
  >
    {{@label}}
  </label>
  <input
    type="text"
    id="{{this.id}}-input"
    class="content-inner__input"
    placeholder={{or @placeholder ""}}
    {{on "input" @updateValue}}
  />
</div>
<div class="modal-window__footer">
  <button
    class="modal-window__button"
    type="button"
    {{on "click" @content.cancel}}
  >
    {{this.cancelLabel}}
  </button>
  <button
    class="modal-window__button"
    type="button"
    {{on "click" @content.done}}
  >
    {{this.doneLabel}}
  </button>
</div>
